.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.message-box,
.user-box {
  height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.message-box {
  display: grid;
}

/* Initially, the sidebar is hidden */
.sidebar {
  position: fixed;
  left: -35%; /* Move the sidebar off-screen */
  top: 0;
  width: 35%;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out; /* Add a smooth transition effect */
  z-index: 1000; /* Ensure the sidebar is on top of other elements */
}

.card-body {
  padding: 0.5rem 0.5rem;
}

.card-title {
  font-size: large;
}

.not-found {
  text-align: center;
}

.sender-name {
  font-weight: 500;
}

.card-message {
  max-width: 70%;
}

.card_user:hover,
.active {
  background-color: #c6c7c8 !important;
  cursor: pointer;
}

.img-fluid:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal-user {
  max-height: 30vh;
  min-height: 30vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}